.Profile {
  display: flex;
}

.ProfileWrapper {
  flex: 9;
  padding: 20px;
}

.ProfileTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProfileTitleUpdate {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.ProfileTitleDelete {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.ProfileForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.ProfilePP {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ProfilePP > img {
  height: 70px;
  width: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.divContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.ProfilePPIcon {
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  background-color: lightcoral;
  cursor: pointer;
}

.ProfilePPButton:focus {
  outline-style: none;
}

.centerHeader {
  align-self: center;
  text-align: center;
  width: 500px;
}

.settingsSubmitButton {
  background-color: #198754;
  color: white;
  align-self: center;
  width: 150px;
}

.ProfileForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.ProfilePPInput {
  width: 30%;
}

.ProfileForm > input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.ProfileSubmitButton {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfileSubmitButton:hover {
  background-color: rgb(1, 114, 114);
}