.App {
  text-align: center;
  height: 100%;
}

.my-forms {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.page-header {
  text-align: center;
  color: red;
  padding-bottom: 30px;
}

#register * {
  padding-bottom: 10px;
}

#loginform * {
  padding-bottom: 10px;
}

.bg {
  /* The image used */
  background-image: url('http://www.restauracjapanorama.net/images/mainImg.jpg');

  /* Full height */
  min-height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
